<h1>Novo usuário</h1>

<%= form_for @user do |f| %>
  <%= f.text_field :name %>
  <%= f.collection_select :friend_ids, User.find(:all), :id, :name, multiple: true  %>
  <%= f.submit "Salvar" %>
<% end %> 
